@mixin card-style {
  border: solid 1px $border;
  background-color: white;
  margin: 15px 5px 0 5px;
  h2{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    line-height: 1.3em;
  }
  h3{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    line-height: 1.3em;
  }
}

@mixin btn {
  border: none;
  background: black;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: $background;
    color: black;
  }
}
