.featured {
  position: relative;
  @include card-style;
  .text {
    // float: left;
    position: relative;
    background: white;
    top:0;
    width: 40%;
    p {
      display: none;
      @media #{$breakpoint-medium} {
        display: block;
        letter-spacing: .1em;
        &:first-child {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
    h3 {
      @media #{$breakpoint-medium} {
        display: block;
        text-align: left;
      }
    }
    button {
      @include btn;
      padding: 10px;
      margin-bottom: 10px;
      // margin-bottom: 20px;
    }
  }
  img {
    width: 100%;
    height: 90%;
    top:10px;
    margin-bottom: 20px;
    position: relative;
  }
}
