.featured {
  position: relative;
  @include card-style;
  .text {
    float: left;
    position: relative;
    background: white;
    width: 40%;
    p {
      letter-spacing: .1em;
      line-height: 1.3em;
      &:first-child {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    h3 {
      text-align: left;
    }
    button {
      @include btn;
      padding: 20px;
      margin-bottom: 20px;
    }
  }
  img {
    width: 100%;
    overflow: hidden;
    position: relative;
    float: right;
    left: 20px;
    height: 100%;
  }
}
