.footer {
  display: block;
  margin: auto;
  // text-align: center;
  img {
    display: inline-block;
    height: 100px;
    padding: 5px;
    margin-left: 20%;
  }
  p {
    text-align: center;
    position: relative;
  }

}
