.footer {
  position: absolute;
  img {
    position: relative;
    height: 100px;
    padding: 5px;
    &:first-child {
      margin-left: 25vw;
    }
    &:last-child {
      margin-right: 25vw;
    }
  }
  p {
    text-align: center;
  }

}
