.sign-up {
  @include card-style;
  border-style: dashed;
  margin-left: 40px;
  margin-right: 40px;
  p {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-weight: 400;
  }
  form {
    text-align: center;
    input {
      padding: 10px;
      margin: 20px;
      &:last-of-type {
        @include btn;
      }
    }
  }
}
